.account-log-in,
.account-log-in * {
  box-sizing: border-box;
}
.account-log-in {
  background: #ffffff;
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.rectangle-42 {
  background: #712323;
  width: 1920px;
  height: 900px;
  position: absolute;
  left: 0px;
  top: 180px;
}
.frame {
  width: 824px;
  height: 762px;
  position: absolute;
  left: calc(50% - 412px);
  top: calc(50% - 326px);
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  right: 0%;
  left: 2.34%;
  width: 97.66%;
  bottom: 0%;
  top: 1.57%;
  height: 98.43%;
  overflow: visible;
}
.vector2 {
  height: auto;
  position: absolute;
  right: 2.34%;
  left: 0%;
  width: 97.66%;
  bottom: 1.57%;
  top: 0%;
  height: 98.43%;
  overflow: visible;
}
.vector3 {
  height: auto;
  position: absolute;
  right: 25%;
  left: 23.42%;
  width: 51.58%;
  bottom: 74.54%;
  top: 18.9%;
  height: 6.56%;
  overflow: visible;
}
.vector4 {
  height: auto;
  position: absolute;
  right: 25%;
  left: 23.42%;
  width: 51.58%;
  bottom: 60.5%;
  top: 32.94%;
  height: 6.56%;
  overflow: visible;
}
.vector5 {
  height: auto;
  position: absolute;
  right: 40.17%;
  left: 41.26%;
  width: 18.57%;
  bottom: 26.77%;
  top: 64.04%;
  height: 9.19%;
  overflow: visible;
}
.rectangle-17 {
  background: #ffb35b;
  border-radius: 10px;
  position: absolute;
  right: 25.49%;
  left: 22.94%;
  width: 51.58%;
  bottom: 75.46%;
  top: 17.98%;
  height: 6.56%;
}
.rectangle-18 {
  background: #ffb35b;
  border-radius: 10px;
  position: absolute;
  right: 25.49%;
  left: 22.94%;
  width: 51.58%;
  bottom: 61.29%;
  top: 32.15%;
  height: 6.56%;
}
.rectangle-20 {
  background: #ffa945;
  border-radius: 10px;
  position: absolute;
  right: 40.78%;
  left: 40.66%;
  width: 18.57%;
  bottom: 27.56%;
  top: 63.25%;
  height: 9.19%;
}
.log-in {
  color: #000000;
  text-align: center;
  font: 700 30px "Montserrat-Bold", sans-serif;
  position: absolute;
  right: 40.78%;
  left: 40.66%;
  width: 18.57%;
  bottom: 27.56%;
  top: 63.25%;
  height: 9.19%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  width: 1920px;
  height: 180px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.rectangle-1 {
  background: linear-gradient(
    180deg,
    rgba(237, 219, 192, 1) 0%,
    rgba(237, 219, 192, 1) 100%
  );
  width: 1920px;
  height: 180px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-2 {
  background: #ffcd93;
  width: 1920px;
  height: 180px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.home {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 609px;
  top: 128px;
}
.home2 {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pemesanan {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 738px;
  top: 128px;
}
.pemesanan2 {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fasilitas {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 947px;
  top: 128px;
}
.fasilitas2 {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.support {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1265px;
  top: 128px;
}
.support2 {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1429px;
  top: 128px;
}
.account2 {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filkom-1 {
  width: 591px;
  height: 224px;
  position: absolute;
  left: -13px;
  top: -22px;
}
.image-3 {
  width: 835px;
  height: 95px;
  position: absolute;
  left: 801px;
  top: 30px;
}
.searchbar-tulung-state-2 {
  background: #dbc8ac;
  border-radius: 24px;
  padding: 8px 24px 8px 24px;
  width: 46px;
  height: 39px;
  position: absolute;
  left: 1603px;
  top: 125px;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
.group-17 {
  position: absolute;
  inset: 0;
}
.search-icon-2 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 32px;
  top: 9px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.account3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1115px;
  top: 128px;
}
.ulasan {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.in-case-need-footer {
  width: 1920px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 1030px;
  overflow: hidden;
}
.rectangle-37 {
  background: #eddbc0;
  width: 1920px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
}
._2023-2023-kelompok-imk-all-rights-reserved {
  color: #000000;
  text-align: center;
  font: 400 30px "Cornerstone-Regular", sans-serif;
  position: absolute;
  left: calc(50% - 528px);
  top: 9px;
  width: 1057px;
  height: 54px;
}
.username {
  color: #712323;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 757px;
  top: 369px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.password {
  color: #712323;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 760px;
  top: 477px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar-container form {
  display: flex;
  position: absolute;
  
  left: 1605px;
  top: 135px;
}

.search-input {
  width: 30px;
  height: 30px;
  padding-left: 30px;
  transition: width 0.5s ease-in-out;
  cursor: pointer;
  border: none;
  background: #d3c1a6;
  border-radius: 100px; /* Nilai ini menentukan seberapa melengkung sudutnya */
}

.search-input:focus {
  width: 200px; /* Adjust the width as needed */
  cursor: text;
}

.search-btn {
  background: none;
  border: none;
  padding: 0;
}

.search-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: 5px;
  transform-origin: 0 0;
}

/* Initial state when not focused */
.searchbar-container:hover .search-input,
.searchbar-container .search-input:focus {
  width: 200px; /* Adjust the width as needed */
}

.input-username, .input-password {
  width: 280px; /* Mengatur lebar */
  font-family: Arial, sans-serif; /* Jenis font */
  font-size: 18px; /* Ukuran font */
}


