.review,
.review * {
  box-sizing: border-box;
}
.review {
  background: #ffffff;
  width: 1920px;
  height: 1080px;
  position: relative;
}
.header {
  width: 1920px;
  height: 180px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.rectangle-1 {
  background: linear-gradient(
    180deg,
    rgba(237, 219, 192, 1) 0%,
    rgba(237, 219, 192, 1) 100%
  );
  width: 1920px;
  height: 180px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-2 {
  background: #ffcd93;
  width: 1920px;
  height: 180px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.home {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 620px;
  top: 128px;
}
.home2 {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pemesanan {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 748px;
  top: 128px;
}
.pemesanan2 {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fasilitas {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 947px;
  top: 128px;
}
.fasilitas2 {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.support {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1265px;
  top: 128px;
}
.support2 {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1429px;
  top: 128px;
}
.account2 {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filkom-1 {
  width: 591px;
  height: 224px;
  position: absolute;
  left: -13px;
  top: -22px;
}
.image-3 {
  width: 835px;
  height: 95px;
  position: absolute;
  left: 801px;
  top: 30px;
}
.group-17 {
  position: absolute;
  inset: 0;
}
.search-icon-2 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 32px;
  top: 9px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.searchbar-container form {
  display: flex;
  position: absolute;
  
  left: 1605px;
  top: 135px;
}

.search-input {
  width: 30px;
  height: 30px;
  padding-left: 30px;
  transition: width 0.5s ease-in-out;
  cursor: pointer;
  border: none;
  background: #d3c1a6;
  border-radius: 100px; /* Nilai ini menentukan seberapa melengkung sudutnya */
}

.search-input:focus {
  width: 200px; /* Adjust the width as needed */
  cursor: text;
}

.search-btn {
  background: none;
  border: none;
  padding: 0;
}

.search-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: 5px;
  transform-origin: 0 0;
}

/* Initial state when not focused */
.searchbar-container:hover .search-input,
.searchbar-container .search-input:focus {
  width: 200px; /* Adjust the width as needed */
}

.account3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1115px;
  top: 128px;
}
.ulasan {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body {
  background: #712323;
  width: 1920px;
  height: 900px;
  position: absolute;
  left: 0;
  top: 180px;
  overflow-y: auto;
}
.in-case-need-footer {
  width: 1920px;
  height: 50px;
  position: absolute;
  left: 1px;
  top: 2470px;
  overflow: hidden;
}
.rectangle-37 {
  background: #eddbc0;
  width: 1920px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
}
._2023-2023-kelompok-imk-all-rights-reserved {
  color: #000000;
  text-align: center;
  font: 400 30px "Cornerstone-Regular", sans-serif;
  position: absolute;
  left: calc(50% - 528px);
  top: 9px;
  width: 1057px;
  height: 54px;
}
.frame {
  width: 713px;
  height: 193px;
  position: absolute;
  left: calc(50% - 357px);
  top: 0px;
  overflow: visible;
}
.frame-20 {
  width: 1703px;
  height: 2026px;
  position: absolute;
  left: 110px;
  top: 186px;
  overflow: hidden;
}
.group-25 {
  position: absolute;
  inset: 0;
}
.rectangle-34 {
  background: #ffd78a;
  border-radius: 20px;
  width: 669px;
  height: 885px;
  position: absolute;
  left: 18px;
  top: 34px;
}
.t-45-i-rn-1-bhi-wc-j-uz-st-6-ufg-bv-o-1 {
  border-radius: 40px;
  width: 590.13px;
  height: 566.13px;
  position: absolute;
  left: 57.44px;
  top: 71.83px;
}
.rectangle-35 {
  background: #d9d9d9;
  border-radius: 40px;
  width: 578.86px;
  height: 156.73px;
  position: absolute;
  left: 68.7px;
  top: 724.44px;
}
.marvel-s-spider-man-miles-morales-adalah-sebuah-permainan-video-yang-dikembangkan-oleh-insomniac-games-dan-diterbitkan-oleh-sony {
  color: #1e1e1e;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 136px;
  top: 776px;
  width: 433.79px;
  height: 154.03px;
}
.group-24 {
  position: absolute;
  inset: 0;
}
.rectangle-342 {
  background: #ffd78a;
  border-radius: 20px;
  width: 669px;
  height: 855px;
  position: absolute;
  left: 18px;
  top: 1119px;
}
.t-45-i-rn-1-bhi-wc-j-uz-st-6-ufg-bv-o-12 {
  border-radius: 40px;
  width: 590.13px;
  height: 546.94px;
  position: absolute;
  left: 57.44px;
  top: 1155.55px;
}
.n-pvgaaj-mcg-n-wwc-bqhy-2-me-9-1 {
  border-radius: 40px;
  width: 590.13px;
  height: 546.94px;
  position: absolute;
  left: 57.44px;
  top: 1155.55px;
}
.rectangle-352 {
  background: #d9d9d9;
  border-radius: 40px;
  width: 578.86px;
  height: 156.73px;
  position: absolute;
  left: 68.7px;
  top: 1786.03px;
}
.forza-horizon-5-adalah-video-game-balap-tahun-2021-yang-dikembangkan-oleh-playground-games-dan-diterbitkan-oleh-xbox-game-studios-permainan-ini-berlatarkan-representasi-fiksi-meksiko {
  color: #1e1e1e;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 86px;
  top: 1831px;
  width: 533px;
  height: 149px;
}
.group-22 {
  position: absolute;
  inset: 0;
}
.rectangle-343 {
  background: #ffd78a;
  border-radius: 20px;
  width: 669px;
  height: 855px;
  position: absolute;
  left: 1005px;
  top: 1119px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-353 {
  background: #d9d9d9;
  border-radius: 40px;
  width: 578.86px;
  height: 151.42px;
  position: absolute;
  left: 1040.21px;
  top: 1784.73px;
  overflow: visible;
}
.ea-sports-fc-24-adalah-game-sepak-bola-terbaru-dari-electronic-arts-yang-menawarkan-pengalaman-bermain-yang-paling-realistis-dan-otentik-game-ini-menggunakan-teknologi-hyper-motion-v-yang-memungkinkan-gerakan-permainan-dan-penampilan-pemain-lebih-alami-dan-dinamis {
  color: #1e1e1e;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1115px;
  top: 1805px;
  width: 450.69px;
  height: 105.73px;
}
.screengrab-gj-cold-1024-x-576-1 {
  border-radius: 43px;
  width: 590.13px;
  height: 546.94px;
  position: absolute;
  left: 1044.44px;
  top: 1155.55px;
}
.group-21 {
  position: absolute;
  inset: 0;
}
.group-23 {
  width: 669px;
  height: 885.03px;
  position: static;
}
.rectangle-344 {
  background: #ffd78a;
  border-radius: 20px;
  width: 669px;
  height: 885px;
  position: absolute;
  left: 1005px;
  top: 34px;
}
.rectangle-354 {
  background: #d9d9d9;
  border-radius: 40px;
  width: 578.86px;
  height: 156.73px;
  position: absolute;
  left: 1055.7px;
  top: 724.44px;
}
.counter-strike-2-dirilis-sebagai-pembaruan-update-dari-counter-strike-global-offensive-cs-go-sebagai-versi-baru-atau-penerus-dari-cs-go-counter-strike-2-membawa-sederet-fitur-dan-peningkatan-baru {
  color: #1e1e1e;
  text-align: center;
  font: 700 16px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 1074px;
  top: 765px;
  width: 545.06px;
  height: 154.03px;
}
.capsule-616-x-353-1 {
  border-radius: 40px;
  width: 590.13px;
  height: 566.13px;
  position: absolute;
  left: 1050.07px;
  top: 71.83px;
}
.group-29 {
  position: absolute;
  inset: 0;
}
.group-28 {
  width: 1063.75px;
  height: 1128.4px;
  position: static;
}
.group-30 {
  width: 1063.75px;
  height: 1128.4px;
  position: static;
}
.star {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1378px;
  top: 649px;
}
.star2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 100px;
  top: 605px;
}

.rate {
  float: left;
  height: 48px;
  padding: 0 20px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width: 80px;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size: 70px;
  color:#000000;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.rate2 {
  float: left;
  height: 48px;
  padding: 0 20px;
}
.rate2:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate2:not(:checked) > label {
  float:right;
  width: 80px;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size: 70px;
  color:#000000;
}
.rate2:not(:checked) > label:before {
  content: '★ ';
}
.rate2 > input:checked ~ label {
  color: #ffc700;    
}
.rate2:not(:checked) > label:hover,
.rate2:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate2 > input:checked + label:hover,
.rate2 > input:checked + label:hover ~ label,
.rate2 > input:checked ~ label:hover,
.rate2 > input:checked ~ label:hover ~ label,
.rate2 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.rate3 {
  float: left;
  height: 48px;
  padding: 0 20px;
}
.rate3:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate3:not(:checked) > label {
  float:right;
  width: 80px;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size: 70px;
  color:#000000;
}
.rate3:not(:checked) > label:before {
  content: '★ ';
}
.rate3 > input:checked ~ label {
  color: #ffc700;    
}
.rate3:not(:checked) > label:hover,
.rate3:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate3 > input:checked + label:hover,
.rate3 > input:checked + label:hover ~ label,
.rate3 > input:checked ~ label:hover,
.rate3 > input:checked ~ label:hover ~ label,
.rate3 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.rate4 {
  float: left;
  height: 48px;
  padding: 0 20px;
}
.rate4:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate4:not(:checked) > label {
  float:right;
  width: 80px;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size: 70px;
  color:#000000;
}
.rate4:not(:checked) > label:before {
  content: '★ ';
}
.rate4 > input:checked ~ label {
  color: #ffc700;    
}
.rate4:not(:checked) > label:hover,
.rate4:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate4 > input:checked + label:hover,
.rate4 > input:checked + label:hover ~ label,
.rate4 > input:checked ~ label:hover,
.rate4 > input:checked ~ label:hover ~ label,
.rate4 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.text {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  width: 20px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._0 {
  color: #000000;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._5 {
  color: #000000;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  width: 55px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.star3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 100px;
  top: 1665px;
}
.star4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1100px;
  top: 605px;
}
.star5 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1100px;
  top: 1665px;
}
.portsu {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1265px;
  top: 128px;
}
.portsu2 {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Montserrat-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#rating-value {
  /* Contoh styling */
  font-size: 30px;
  margin-top: 55px;
  margin-left: -20px;
}
#rating-value2 {
  /* Contoh styling */
  font-size: 30px;
  margin-top: 55px;
  margin-left: -20px;
}
#rating-value3 {
  /* Contoh styling */
  font-size: 30px;
  margin-top: 55px;
  margin-left: -20px;
}
#rating-value4 {
  /* Contoh styling */
  font-size: 30px;
  margin-top: 55px;
  margin-left: -20px;
}
.tombol-sumbit {
  background: #d3c1a6;
  width: 220px;
  height: 50px;
  position: absolute;
  left: 855px;
  top: 2300px;
}
.submit {
  color: #ffffff;
  text-align: center;
  font: 700 40px "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 40px;
  top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tombol-sumbit:hover {
  background: rgba(172, 148, 148, 0.5); /* Meningkatkan transparansi saat di-hover */
  color: white;                          /* Mengubah warna teks menjadi putih */
}
#popupContainer {
  display: none;
  position: fixed; 
  z-index: 1000; 
  left: 800px; 
  top: 540px;
  transform: translate(-50%, -50%);
  /* Optional: Atur ukuran popup jika perlu */
  width: 300px; /* Contoh ukuran */
}